<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Head-->

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <div th:include="fixedTemplate/defaultCSS.html"></div>
  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/vendors/css/vendors.amin.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/vendors/css/charts/chartist.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/bootstrap-extended.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/colors.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/components.css">
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/core/menu/menu-types/vertical-menu.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/core/colors/palette-gradient.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/core/colors/palette-gradient.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/pages/chat-application.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/css/pages/dashboard-analytics.css">
  <link rel="stylesheet" type="text/css"
        href="https://aiotone.live/resources/app-assets/vendors/css/timeline/vertical-timeline.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <!--  <link rel="stylesheet" type="text/css" href="https://aiotone.live/resources/assets/css/style.css">-->
  <!-- END: Custom CSS-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 라이브러리 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css"
        rel="stylesheet">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://aiotone.live/resources/assets/css/style.css">
  <style>
    @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

    body, p, h3, h4, h6 {
      font-family: 'NanumSquare', sans-serif;
      font-weight: 800;
    }
  </style>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu content-detached-left-sidebar   fixed-navbar"
      data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue"
      data-col="content-detached-left-sidebar">

<!-- BEGIN: Header-->
<div th:include="fixedTemplate/fixed-top.html"></div>
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<div th:include="fixedTemplate/side-navigation.html"></div>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before "></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">모터 목록</h3>
      </div>

      <div class="content-detached content-right">
        <div class="content-body">
          <section class="row">
            <div class="col-12">
              <div class="card mx-auto" style="width: 90pc;">
                <div class="card-head mx-auto">
                  <div class="card-header">
                    <h4 class="card-title" id=sectorname></h4>
                    <div class="card-content collapse show">
                      <div class="card-body pt-300 pb-300">
                        <div class="row mb-1">
                          <div
                              class="col-6 col-sm-3 col-md-6 col-lg-3 border-right-blue-grey border-right-lighten-5 text-center">
                            <p class="blue-grey lighten-2 mb-0">총 모터</p>
                            <th:p id="totalMotors" class="font-medium-5 text-bold-400"></th:p>
                          </div>
                          <div
                              class="col-6 col-sm-3 col-md-6 col-lg-3 border-right-blue-grey border-right-lighten-5 text-center">
                            <p class="blue-grey lighten-2 mb-0">가동중인 모터</p>
                            <th:p id="runningMotors" class="font-medium-5 text-bold-400"></th:p>
                          </div>
                          <div
                              class="col-6 col-sm-3 col-md-6 col-lg-3 border-right-blue-grey border-right-lighten-5 text-center">
                            <p class="blue-grey lighten-2 mb-0">정상 모터</p>
                            <th:p id="normalMotors" class="font-medium-5 text-bold-400"></th:p>
                          </div>
                          <div
                              class="col-6 col-sm-3 col-md-6 col-lg-3 border-right-blue-grey border-right-lighten-5 text-center">
                            <p class="blue-grey lighten-2 mb-0">비정상 모터</p>
                            <th:p id="anomalyMotors" class="font-medium-5 text-bold-400"></th:p>
                          </div>
                        </div>

                        <h6 class="text-bold-600"> 정상 모터 비율:
                          <span id="normalMotorPercent"></span>
                        </h6>
                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                          <div id="progressBar" class="progress-bar bg-gradient-x-success"
                               role="progressbar" style="width: 0%" aria-valuenow="0"
                               aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <h6 class="text-bold-600"> 가동중인 모터 비율:
                          <span id="isOnMotorPercent"></span>
                        </h6>
                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                          <div id="progressBar1" class="progress-bar bg-gradient-x-success"
                               role="progressbar" style="width: 0%" aria-valuenow="0"
                               aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="media d-flex">
                          <div class="align-self-center">

                            <h6 class="text-bold-600 mt-1"> 현재 시간:
                              <span class="blue-grey"
                                    th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm')}"></span>
                            </h6>
                          </div>
                        </div>
                        <!--필터링 토글-->
                        <div class="right"
                             style="float:right; position:relative; right: 36px; top: -20px">
                          <div class="dropdown">
                            <button class="btn btn-bg-gradient-x-blue-purple-1 dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                              필터링
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" onclick="selectSector('all')"
                              >초기화</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" onclick="selectSector('statusNormal')"
                              >정상 모터만</a>
                              <a class="dropdown-item" onclick="selectSector('statusAbnormal')"
                              >이상 모터만</a>
                              <a class="dropdown-item" onclick="selectSector('powerOff')">전원이
                                꺼진 모터만</a>
                              <a class="dropdown-item" onclick="selectSector('powerOn')">전원이
                                켜진 모터만</a>
                              <a class="dropdown-item" onclick="selectSector('undefined')">구역
                                미지정 모터만</a>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>

                  <!-- 모터 리스트 박스 -->
                  <!-- 모터 시작-->
                  <div class="container">
                    <div class="row">
                      <div th:each="motor : ${motors}"
                           class="motorbox col-2"
                           th:data-sector-id="${motor.getSectorId()}"
                           th:data-motor-id="${motor.getMotorId()}"
                           onclick="goToMotorDetail(this)"
                           style="padding-bottom: 120px">
                        <div class="card pull-up" th:if="${motor.getIsOn()== true}">
                          <div th:if="${motor.getIsNormal() == true}"
                               class="card bg-success" style="height: 70px;">
                            <div class="card bg-success" style="height: 20px">
                              <h4 class="card-title white" style="padding: 10px; height: 1px"
                                  th:text="${motor.getMotorName()}"></h4>
                            </div>
                            <div class="card bg-success">
                              <div class="card-body">
                                <div
                                    class="media d-flex align-items-center justify-content-center">
                                  <div>
                                    <img
                                        src="https://aiotone.live/resources/app-assets/images/icons/motoricon.png"
                                        alt="Your Image" class="img-fluid">
                                  </div>
                                </div>
                                <div class="media-body text-right mt-1">
                                  <h3 class="font-large-0 white">NORMAL</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div th:if="${motor.getIsNormal() == false }"
                               class="card bg-warning " style="height: 70px">
                            <div class="card bg-warning" style="height: 20px">
                              <h4 class="card-title white" style="padding: 10px;height: 1px"
                                  th:text="${motor.getMotorName()}"></h4>
                              <a class="heading-elements-toggle"><i
                                  class="la la-ellipsis-v font-medium-3"></i></a>
                              <div class="heading-elements">
                                <ul class="list-inline mb-0"></ul>
                              </div>
                            </div>
                            <div class="card bg-warning">
                              <div class="card-body">
                                <div
                                    class="media d-flex align-items-center justify-content-center">
                                  <div>
                                    <img
                                        src="https://aiotone.live/resources/app-assets/images/icons/motoricon.png"
                                        alt="Your Image" class="img-fluid">
                                  </div>
                                </div>
                                <div class="media-body text-right mt-1">
                                  <h3 class="font-large-0 white">WARNING</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>
                        <div class="card pull-up" th:if="${motor.getIsOn()==false}">
                          <div th:if="${motor.getIsNormal() == true}"
                               class="card bg-blue-grey" style="height: 70px">
                            <div class="card bg-blue-grey" style="height: 20px">
                              <h4 class="card-title white" style="padding: 10px;height: 1px"
                                  th:text="${motor.getMotorName()}"></h4>
                            </div>
                            <div class="card bg-blue-grey">
                              <div class="card-body">
                                <div
                                    class="media d-flex align-items-center justify-content-center">
                                  <div>
                                    <img
                                        src="/vertical-menu-template/app-assets/images/icons/motoricon.png"
                                        alt="Your Image" class="img-fluid">
                                  </div>
                                </div>
                                <div class="media-body text-right mt-1">
                                  <h3 class="font-large-0 white">NORMAL</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div th:if="${motor.getIsNormal() == false }"
                               class="card  bg-blue-grey" style="height: 70px">
                            <div class="card  bg-blue-grey " style="height: 20px">
                              <h4 class="card-title warning" style="padding: 10px;height: 1px"
                                  th:text="${motor.getMotorName()}"
                              ></h4>
                              <a class="heading-elements-toggle"><i
                                  class="la la-ellipsis-v font-medium-3"></i></a>
                              <div class="heading-elements">
                                <ul class="list-inline mb-0"></ul>
                              </div>
                            </div>
                            <div class="card bg-blue-grey">
                              <div class="card-body">
                                <div
                                    class="media d-flex align-items-center justify-content-center">
                                  <div>
                                    <img
                                        src="/img/motoriconwarning.png"
                                        alt="Your Image" class="img-fluid">
                                  </div>
                                </div>
                                <div class="media-body text-right mt-1">
                                  <h3 class="font-large-0 warning">
                                    WARNING</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 모터 끝-->
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                </div>
              </div>
            </div>
          </section>


        </div>
      </div>

      <!-- 구역선택 사이드 바 -->
      <div class="sidebar" style="position: fixed;right: 20px">
        <div class="sidebar-content card d-none d-lg-block">
          <div class="card-body">
            <div class="row">
              <h4 class="card-title" style="padding-left: 10px">구역 목록</h4>
            </div>
            <div class="category-title pb-1">
            </div>
            <div>

              <ul class="list-group">
                <li class="list-group-item" onclick="selectSector('all')">
                  <a>전체보기</a>
                </li>
                <li class="list-group-item" th:each="sector : ${sectorInfo}"
                    th:data-sector-id="${sector.getSectorId()}"
                    onclick="selectSector(this.getAttribute('data-sector-id'))">
                          <span th:if="${sector.getTotalCount - sector.getNormalCount != 0}"
                                class="badge badge-danger badge-pill float-right"
                                th:text="${sector.getTotalCount()-sector.getNormalCount()}"></span>
                  <a th:text="${sector.getSectorName()}"></a>
                </li>
                <li class="list-group-item">
                  <i class="mr-1 ft-plus">
                    <a href="#" data-toggle="modal" data-target="#sectorRegistModal">구역추가</a>
                  </i>
                </li>
                <li class="list-group-item">
                  <i class="mr-1 ft-plus">
                    <a href="#" data-toggle="modal" data-target="#sectorEditModal">구역편집</a>
                  </i>
                </li>
              </ul>
            </div>
            <!-- /List group example -->

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">

</div>

<!-- END: Content-->
<!-- 구역 등록 모달 창 -->
<div class="modal fade" id="sectorRegistModal" tabindex="-1" role="dialog"
     aria-labelledby="sectorRegistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectorRegistModalLabel">알림</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-colored-form-control">구역 등록</h4>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="card-text">
                <p>원하는 구역 이름을 입력하고 구역등록을 완료해 주십시오</p>
              </div>
              <form id="sectorRegistForm" action="/registSector" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                  <label for="sectorName">구역 이름</label>
                  <input type="text" class="form-control" id="sectorNameInput"
                         name="sectorNameInput"
                         placeholder="Enter sector name">
                </div>
                <div class="form-actions right">
                  <button type="submit" class="btn btn-primary">
                    <i class="la la-check-square-o"></i> 등록
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 구역 편집 모달 창 -->
<div class="modal fade" id="sectorEditModal" tabindex="-1" role="dialog"
     aria-labelledby="sectorRegistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sectorEditModalLabel">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-colored-form-control2">구역 편집</h4>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="card-text">
                <p>편집을 원하는 구역을 선택하고 원하는 작업을 선택해 주십시오.</p>
              </div>
              <br>
              <div id="sectorEditForm" th:each="sector:${sectorInfo}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                  <h3 th:text="${sector.getSectorName()}"></h3>
                  <input type="hidden" name="sectorId" th:value="${sector.sectorId}">


                  <div class="form-actions right">
                    <button type="button" class="btn btn-warning right btnModify"
                            th:value="${sector.sectorId}"
                            onclick="renameSector(this.value)"
                            data-dismiss="modal">
                      <i class="la la-check-square-o"></i> 구역 이름 변경
                    </button>
                    <button type="button" class="btn btn-danger right btnRemove"
                            th:value="${sector.sectorId}"
                            onclick="removeSector(this.value)"
                            data-dismiss="modal">
                      <i class="ft-x"></i> 구역 삭제
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 새로운 Sector Name 입력 모달 창 -->
<div class="modal fade" id="sectorRenameModal" tabindex="-1" role="dialog"
     aria-labelledby="sectorRenameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- ... -->
      <div class="modal-body">
        <div class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <!-- ... -->
              <form id="sectorRenameForm" action="/renameSector" th:method="put">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" id="sectorIdForRename" name="sectorId" value="">
                <div class="form-group">
                  <label for="newSectorName">New Sector Name</label>
                  <input type="text" class="form-control" id="newSectorName" name="newSectorName"
                         placeholder="Enter new sector name">
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="la la-check-square-o"></i> Confirm
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 구역 삭제 확인 모달 창 -->
<div class="modal fade" id="sectorRemoveModal" tabindex="-1" role="dialog"
     aria-labelledby="sectorRemoveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- ... -->
      <div class="modal-body">
        <div class="card">
          <div class="card-content collapse show">
            <div class="card-body">
              <!-- ... -->
              <form id="sectorRemoveForm" action="/removeSector" th:method="delete">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" id="sectorIdForRemove" name="sectorId" value="">
                <div class="card-text">
                  <p>정말로 삭제하시겠습니까?</p>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-danger">
                    <i class="la la-check-square-o">Delete Sector</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:include="fixedTemplate/defaultJS.html"></div>

<div th:include="fixedTemplate/defaultJS.html"></div>

</body>
<!-- END: Body-->


</html>

<script th:inline="javascript" type="text/javascript">
  // 페이지 로딩 시 전체 섹터의 개수 합산하여 출력
  $(document).ready(function () {
    var motorInfoOverview = [[${motorInfoOverview}]]; // 서버에서 받아온 섹터 정보
    var totalNormalMotors = motorInfoOverview.totalNormalMotorCount;
    var totalAnomalyMotors = motorInfoOverview.totalMotorCount
        - motorInfoOverview.totalNormalMotorCount;
    var totalMotors = motorInfoOverview.totalMotorCount;
    var totalIsOnMotors = motorInfoOverview.totalOnMotorCount;
    var sectorName = '종합 상태 요약';

    // 상단 Total Motor Status
    $('#totalMotors').text(totalMotors);
    $('#normalMotors').text(totalNormalMotors);
    $('#runningMotors').text(totalIsOnMotors);
    $('#anomalyMotors').text(totalAnomalyMotors);
    $('#sectorname').text(sectorName);

    // 전체 모터의 normal motor 퍼센트 계산 및 표시
    var totalNormalMotorPercent = (totalNormalMotors / totalMotors) * 100;
    $('#normalMotorPercent').text(totalNormalMotorPercent.toFixed(2) + '%');
    // 전체 모터의 normal motor 퍼센트를 progress bar에 적용
    $('#progressBar').css('width', totalNormalMotorPercent + '%').attr('aria-valuenow',
        totalNormalMotorPercent);

    // 전체 모터의 running motor 퍼센트 계산 및 표시
    var totalRunningMotorPercent = (totalIsOnMotors / totalMotors) * 100;
    $('#isOnMotorPercent').text(totalRunningMotorPercent.toFixed(2) + '%');
    // 전체 모터의 running motor 퍼센트를 progress bar에 적용
    $('#progressBar1').css('width', totalRunningMotorPercent + '%').attr('aria-valuenow',
        totalRunningMotorPercent);

  });

  // 선택한 구역의 ID를 가져와서 서버로 전달하는 함수
  function selectSector(sectorId) {
    var motorElements = $('.motorbox');
    var motors = [[${motors}]];

    if (sectorId === 'all') {
      // 모든 모터 요소 표시
      motorElements.show();

      // motorInfoOverview에서 데이터 꺼내서 설정
      var motorInfoOverview = [[${motorInfoOverview}]]; // 서버에서 받아온 섹터 정보
      var totalNormalMotors = motorInfoOverview.totalNormalMotorCount;
      var totalAnomalyMotors = motorInfoOverview.totalMotorCount
          - motorInfoOverview.totalNormalMotorCount;
      var totalMotors = motorInfoOverview.totalMotorCount;
      var totalIsOnMotors = motorInfoOverview.totalOnMotorCount;
      var sectorName = 'Total Motor Status';

      $('#totalMotors').text(totalMotors);
      $('#normalMotorsnormalMotors').text(totalNormalMotors);
      $('#runningMotors').text(totalIsOnMotors);
      $('#anomalyMotors').text(totalAnomalyMotors);
      $('#sectorname').text(sectorName);

      // 전체 모터의 normal motor 퍼센트 계산 및 표시
      var totalNormalMotorPercent = (totalNormalMotors / totalMotors) * 100;
      $('#normalMotorPercent').text(totalNormalMotorPercent.toFixed(2) + '%');
      // 전체 모터의 normal motor 퍼센트를 progress bar에 적용
      $('#progressBar').css('width', totalNormalMotorPercent + '%').attr('aria-valuenow',
          totalNormalMotorPercent);

      // 전체 모터의 running motor 퍼센트 계산 및 표시
      var totalRunningMotorPercent = (totalIsOnMotors / totalMotors) * 100;
      $('#isOnMotorPercent').text(totalRunningMotorPercent.toFixed(2) + '%');
      // 전체 모터의 running motor 퍼센트를 progress bar에 적용
      $('#progressBar1').css('width', totalRunningMotorPercent + '%').attr('aria-valuenow',
          totalRunningMotorPercent);

    } else if (sectorId === 'undefined') {

      var undefinedMotors = motors.filter(function (motor) {
        return motor.sectorId == null;
      });

      // 모든 모터 요소 숨기기
      motorElements.hide();

      // sectorId가 null인 모터 요소만 표시
      undefinedMotors.forEach(function (motor) {

        var motorElement = $('.motorbox[data-motor-id="' + motor.motorId + '"]');
        motorElement.show();
      });

    } else if (sectorId === 'powerOn') {

      var onMotors = motors.filter(function (motor) {
        return motor.isOn == true;
      });

      // 모든 모터 요소 숨기기
      motorElements.hide();

      // sectorId가 null인 모터 요소만 표시
      onMotors.forEach(function (motor) {

        var motorElement = $('.motorbox[data-motor-id="' + motor.motorId + '"]');
        motorElement.show();
      });

    } else if (sectorId === 'powerOff') {

      var onMotors = motors.filter(function (motor) {
        return motor.isOn == false;
      });

      // 모든 모터 요소 숨기기
      motorElements.hide();

      // sectorId가 null인 모터 요소만 표시
      onMotors.forEach(function (motor) {

        var motorElement = $('.motorbox[data-motor-id="' + motor.motorId + '"]');
        motorElement.show();
      });

    } else if (sectorId === 'statusNormal') {

      var onMotors = motors.filter(function (motor) {
        return motor.isNormal == true;
      });

      // 모든 모터 요소 숨기기
      motorElements.hide();

      // sectorId가 null인 모터 요소만 표시
      onMotors.forEach(function (motor) {

        var motorElement = $('.motorbox[data-motor-id="' + motor.motorId + '"]');
        motorElement.show();
      });

    } else if (sectorId === 'statusAbnormal') {

      var onMotors = motors.filter(function (motor) {
        return motor.isNormal == false;
      });

      // 모든 모터 요소 숨기기
      motorElements.hide();

      // sectorId가 null인 모터 요소만 표시
      onMotors.forEach(function (motor) {

        var motorElement = $('.motorbox[data-motor-id="' + motor.motorId + '"]');
        motorElement.show();
      });

    } else {

      // 선택한 섹터의 normal motor 퍼센트를 progress bar에 적용
      var sector = getSectorById(sectorId);
      $('#progressBar').css('width', sector.normalMotorPercent + '%').attr('aria-valuenow',
          sector.normalMotorPercent);
      // 선택한 섹터의 running motor 퍼센트를 progress bar에 적용
      $('#progressBar1').css('width', sector.isOnMotorPercent + '%').attr('aria-valuenow',
          sector.isOnMotorPercent);
      // 모든 모터 요소 숨기기
      motorElements.hide();

      // 선택한 섹터의 모터 요소만 표시
      var selectedSectorMotors = $('.motorbox[data-sector-id="' + sectorId + '"]');
      selectedSectorMotors.show();

      // 선택한 섹터의 total motors, normal motors, anomaly motors 개수 업데이트
      var sector = getSectorById(sectorId);
      $('#totalMotors').text(sector.totalCount);
      $('#normalMotors').text(sector.normalCount);
      $('#runningMotors').text(sector.isOnCount);
      $('#anomalyMotors').text(sector.totalCount - sector.normalCount);
      $('#sectorname').text(sector.sectorName + ' 상태 요약');

      // 선택한 섹터의 isOn motor 퍼센트 업데이트
      $('#normalMotorPercent').text(sector.normalMotorPercent + '%');
      $('#isOnMotorPercent').text(sector.isOnMotorPercent + '%');

    }
  }

  // 섹터 ID로 섹터 정보를 가져오는 함수
  function getSectorById(sectorId) {
    var sectors = [[${sectorInfo}]]; // 서버에서 받아온 섹터 정보
    for (var i = 0; i < sectors.length; i++) {
      if (sectors[i].sectorId == sectorId) {
        // Normal motor 퍼센트 계산
        var totalMotors = sectors[i].totalCount;
        var isOnMotorPercent = (sectors[i].isOnCount / totalMotors) * 100;
        var normalMotorPercent = (sectors[i].normalCount / totalMotors) * 100;
        sectors[i].isOnMotorPercent = isOnMotorPercent.toFixed(2); // 소수점 둘째 자리까지 표시
        sectors[i].normalMotorPercent = normalMotorPercent.toFixed(2); // 소수점 둘째 자리까지 표시
        return sectors[i];
      }
    }
    return null;
  }


</script>

<script th:inline="javascript" type="text/javascript">
  // 모터 상세 페이지로 이동하는 함수
  function goToMotorDetail(element) {
    var motorId = element.getAttribute('data-motor-id');
    window.location.href = '/SectorDetail/MotorDetail?motorId=' + motorId;
  }

  // 기존 코드...
</script>
<script>
  $('#sectorRegistForm').submit(function (event) {
    $('#sectorRegistModal').modal('hide');
  });

  // 모달 창이 완전히 닫힐 때 페이지 리로드
  $('#sectorRegistModal').on('hidden.bs.modal', function () {
    location.reload();
  });
</script>

<script>
  $('.dropdown-toggle').click(function (e) {
    e.preventDefault();
    var dropdownMenu = $(this).next('.dropdown-menu');
    dropdownMenu.slideToggle();
  });
</script>

<script>

  function renameSector(sectorId) {
    console.log(sectorId);
    $("#sectorIdForRename").val(sectorId);
    $("#sectorRenameModal").modal("show");
  }

</script>

<script>
  function removeSector(sectorId) {
    console.log(sectorId);

    $("#sectorIdForRemove").val(sectorId);
    $("#sectorRemoveModal").modal("show");
  }

</script>

<!-- BEGIN: Vendor JS-->
<script src="https://aiotone.live/resources/app-assets/vendors/js/vendors.min.js"
        type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<!--<script src="https://aiotone.live/resources/app-assets/vendors/js/charts/chartist.min.js"-->
<!--        type="text/javascript"></script>-->
<!--<script-->
<!--    src="https://aiotone.live/resources/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js"-->
<!--    type="text/javascript"></script>-->
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="https://aiotone.live/resources/app-assets/js/core/app-menu.js"
        type="text/javascript"></script>
<script src="https://aiotone.live/resources/app-assets/js/core/app.js"
        type="text/javascript"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="https://aiotone.live/resources/app-assets/js/scripts/pages/dashboard-analytics.js"
        type="text/javascript"></script>

<!-- END: Page JS-->

<!--토글 박스 js-->
<script src="https://aiotone.live/resources/app-assets/js/core/app-menu.js"
        type="text/javascript"></script>
<script src="https://aiotone.live/resources/app-assets/js/core/app.js"
        type="text/javascript"></script>
