<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <link th:include="fixedTemplate/defaultCSS.html" rel="stylesheet"/>
  <!-- 상단바의 드롭다운을 위한 -->
</head>

<body class="vertical-layout vertical-menu content-detached-left-sidebar fixed-navbar"
      data-open="click"
      data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue"
      data-col="content-detached-left-sidebar">

<!-- BEGIN: Header-->
<div th:include="fixedTemplate/fixed-top.html"></div>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<div th:include="fixedTemplate/side-navigation.html"></div>
<!-- END: Main Menu-->

<div class="app-content content">
  <div class="content-header-right col-md-8 col-12">
    <div class="breadcrumbs-top float-md-right">
      <div class="breadcrumb-wrapper mr-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/vertical-menu-template/index.html">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Apps</a>
          </li>
          <li class="breadcrumb-item active">Contact List
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 " th:each="user: ${users}">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Name: <span th:text="${user.name}">User Name</span></h5>
              <p class="card-text">
                <h5 class="card-title">Role: <span th:text="${user.role}"></span></h5>
              </p>
              <form id="updateRole" th:action="@{/mypage/user/update/role}" method="post">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <select class="form-control mb-2" name="role">
                      <option value="NONE" th:selected="${user.role == 'NONE'}">NONE</option>
                      <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">ADMIN</option>
                    </select>
                  </div>
                  <div class="col-auto">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-primary mb-2">Change Role</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN: Footer-->

<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<script src="https://aiotone.live/resources/app-assets/vendors/js/vendors.min.js"
        type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="https://aiotone.live/resources/app-assets/vendors/js/tables/jquery.dataTables.min.js"
        type="text/javascript"></script>
<script
    src="https://aiotone.live/resources/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"
    type="text/javascript"></script>
<script
    src="https://aiotone.live/resources/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"
    type="text/javascript"></script>
<script
    src="https://aiotone.live/resources/app-assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js"
    type="text/javascript"></script>
<script src="https://aiotone.live/resources/app-assets/vendors/js/forms/icheck/icheck.min.js"
        type="text/javascript"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="https://aiotone.live/resources/app-assets/js/core/app-menu.js"
        type="text/javascript"></script>
<script src="https://aiotone.live/resources/app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END: Theme JS-->

<script src="https://aiotone.live/resources/app-assets/js/scripts/pages/users-contacts.js"
        type="text/javascript"></script>

<div th:include="/fixedTemplate/defaultJS.html"></div>
</body>
</html>