<!DOCTYPE html>
<html class="loading" lang="en" >

<!-- BEGIN: Head-->
<head>
  <meta charset="UTF-8">
  <title>frame</title>
  <div th:include="fixedTemplate/defaultCSS.html"></div>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu content-detached-left-sidebar   fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="content-detached-left-sidebar">

<!-- BEGIN: FixedTop-->
<div th:include="fixedTemplate/fixed-top.html"></div>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<div th:include="fixedTemplate/side-navigation.html"></div>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->

<h1>hihi</h1>
<!-- END: Content-->



<div th:include="fixedTemplate/defaultJS.html"></div>

</body>
<!-- END: Body-->

</html>