<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow "
     data-scroll-to-active="true" data-img="https://aiotone.live/resources/app-assets/images/backgrounds/02.jpg">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand"
                                      href="/vertical-menu-template/index.html"><img
          class="brand-logo" alt="Chameleon admin logo"
          src="https://aiotone.live/resources/logo/sidebarLogo.png" style="width: 50px; height: auto;"/>
        <h3 class="brand-text">T1 MotorManger</h3>
      </a></li>
      <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="navigation-background"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a href="/home"><i class="ft-layers"></i><span class="menu-title"
                                                                           data-i18n="">DashBoard</span></a>
      </li>
      <li class=" nav-item"><a href="/SectorDetail"><i class="ft-monitor"></i><span
          class="menu-title" data-i18n="">Motor List</span></a>
      </li>

      <li class=" nav-item"><a href="/home/controlLog"><i class="ft-zap"></i><span
          class="menu-title" data-i18n="">Issue Log</span></a>
      </li>
      <li class=" nav-item"><a href="/mypage"><i class="ft-aperture"></i><span class="menu-title"
                                                                               data-i18n="">My Page</span></a>
      </li>
      <li class="nav-item" th:if="${userDetail != null and userDetail.role == 'ADMIN'}"><a
          href="/mypage/admin/users"><i class="ft-aperture"></i><span class="menu-title"
                                                                      data-i18n="">View Users</span></a>
      </li>
    </ul>
  </div>
</div>